/vendor
/node_modules
/package/*
!/package/.gitkeep
!/package/package.json
/public/vendor/*
!/public/vendor/.gitkeep
/public/storage
/public/js
/public/fonts
/public/css
/public/img
/themes/semantic
/icms
/storage/upload/*
!/storage/upload/.gitkeep
Homestead.yaml
Homestead.json
.env
