.modal-header, .modal-footer {
	background-color: #2A3F54;
}

.modal-header .modal-title {
	color: #e7e7e7;
}

.modal-header button {
	color: #e7e7e7;
}

.modal {
	z-index: 9999;
}

.modal-footer button, .modal-footer .btn {
	margin-bottom: 0px;
}